.carousel {
    height: 600px;   
}

.carousel .carousel-inner,
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .carousel-item .carousel-image {
    height: inherit;
}

.carousel-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.bg-pink {
    background-color: rgb(243, 236, 240);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bg-font {
    font-family: 'Pacifico', cursive;
}

.bg-card {
    font-family: 'Lobster', cursive;

}

.jumbotron {
    margin: 0;
}

.navbar-brand img {
    border-radius: 10px;
}