.carousel {
    height: 600px;   
}

.carousel .carousel-inner,
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .carousel-item .carousel-image {
    height: inherit;
}

.carousel-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.nav1{
    background-color: rgb(218, 64, 87);
}